.quote-request-container {
  background-image: url('images/request-quote-bg.jpg');
  background-size: cover;
  padding: 80px 0;
  background-attachment: fixed;
}

.rfq-product-wrapper {
  max-width: 90%;
  margin: auto;
  width: 100%;
  background: rgb(0 0 0 / 70%);
  border-radius: 25px;
  border: 1px solid var(--heading-color);
  padding: 30px 50px 100px;
  text-align: center;
  color: var(--text-white);
  position: relative;
}

.rfq-product-wrapper.request-quote-form {
  padding-bottom: 0;
}

.quote-request h3 {
  font-size: 35px;
  width: 100%;
  color: var(--text-white);
  margin-top: 20px;
  margin-bottom: 35px;
  font-family: var(--ff-proxima-light);
}

.rfq-icon-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.rfq-icon-item {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.rfq-icon-link {
  padding: 10px;
  background: var(--text-white);
  color: var(--heading-color);
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  box-shadow: 0 0 24px rgb(0 0 0 / 20%);
  font-family: var(--ff-proxima-light);
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
}

.rfq-icon-link:hover {
  background: url('images/hover-bg.png');
  color: var(--text-white);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.rfq-icon-link .rfq-icon-img {
  max-width: 65%;
  margin: 12px auto;
  display: inline-block;
}

.rfq-icon-link:hover .rfq-icon-img {
  filter: brightness(0) invert(1);
}

.back-step-btn {
  min-width: auto;
  min-height: auto;
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: 20px;
  background: rgb(0 116 141 / 30%);
  color: var(--text-white);
  left: 20px;
  text-align: center;
  padding: 10px;
  line-height: 60px;
}

.back-step-btn .fa {
  font-size: 80px;
  line-height: 0;
  position: absolute;
  left: 13px;
  color: var(--text-white);
}

.progress-wrapper {
  width: 57%;
  margin: 0 auto;
  position: relative;
}

.progress-bullet {
  width: 20px;
  height: 20px;
  background: var(--heading-color);
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  right: 0;
  margin: auto;
  z-index: 99;
  top: 12px;
}

.progress-bar {
  height: 50px;
  width: 100%;
  margin: 55px auto 0;
  position: relative;
  background-color: #020302;
  box-shadow: inset 7px 0 58px #716f6f;
  border-radius: 20px;
}

.progress {
  height: 50px;
  width: 0;
  background-image: url('images/progress-bar_resized.png');
  background-size: contain;
  border-radius: 20px !important;
  border: 0;
  transition: width .4s ease;
}

@media only screen and (min-width: 992px) {
  .quote-request-container {
    min-height: 880px;
  }

  .rfq-icon-item {
    width: 25%;
  }
}